// paddings
$p1: 1em;
$p2: 1.5em;
$p3: 2em;
$p4: 2.5em;
$p5: 3em;
$p6: 3.5em;
$p7: 4em;
$p8: 4.5em;
$p9: 5em;

// margins

// gaps
$g1: 1em;
$g2: 1.5em;
$g3: 2em;
$g4: 2.5em;
$g5: 3em;
$g6: 3.5em;
$g7: 4em;
$g8: 4.5em;


// size
$s1: 1rem;
$s2: 1.5rem;
$s3: 2rem;
$s4: 2.5rem;
$s5: 3rem;
$s6: 3.5rem;
$s7: 4rem;
$s8: 4.5rem;
// colors
$colors: (
  "100": white,
  "300": #9e456b,
  "400": #7fb2da,
  "500": #3e5f9d,
  "700": #2c3357,
  "800": #141320,
);

