@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@400;600&display=swap");
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

#skills:target {
  scroll-margin-top: 40rem;
}

#projects:target {
  scroll-margin-top: 5rem;
}

.bg-wrapper {
  background: linear-gradient(to bottom, #323232 0%, #3f3f3f 40%, #1c1c1c 150%), linear-gradient(to top, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.25) 200%);
  background-blend-mode: multiply;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../assets/Backgrounds/bg-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.spacer {
  aspect-ratio: 960/200;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  place-items: center;
  font-family: "Unbounded", cursive;
  font-size: 1.5rem;
  color: white;
}

.spacer2 {
  aspect-ratio: 900/100;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.layer1 {
  background-image: url("../../assets/Backgrounds/stacked-waves-haikei.svg");
}

.layer2 {
  background-image: url("../../assets/Backgrounds/stacked-waves-haikei2.svg");
}

.layer3 {
  background-image: url("../../assets/Backgrounds/wave-haikei3.svg");
}

header {
  display: grid;
  place-items: center;
}
header .nav {
  top: 0;
  color: white;
  position: fixed;
  z-index: 99999;
  min-width: 70%;
  clip-path: polygon(100% 0, 100% 70%, 50% 100%, 0 70%, 0 0);
  background: rgba(127, 178, 218, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
header .nav__menu {
  padding: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  font-family: "Unbounded", cursive;
}
header .nav__menu li {
  transition: transform 0.3s ease;
}
header .nav__menu li:hover {
  transform: scale(1.5);
}
header .nav__menu li:nth-child(2) a img {
  justify-self: flex-start;
  display: block;
  height: auto;
  width: 5rem;
}

.hero {
  display: grid;
  place-items: center left;
}
.hero .hero__container {
  padding: 20em 10em;
  display: grid;
  gap: 1.5em;
  line-height: 1.2;
  color: white;
  font-family: "Unbounded", cursive;
  display: flex;
  flex-direction: column;
}
.hero .hero__container .hero__name {
  font-size: 3.5rem;
}
.hero .hero__container .hero__description {
  letter-spacing: 0.1em;
  width: 54ch;
  line-height: 1.5;
}

.skills {
  background-color: #141320;
  display: flex;
  gap: 1.5em;
  justify-content: center;
  padding-bottom: 5em;
}
.skills img {
  height: auto;
  max-width: 4%;
  transition: transform 0.5s ease;
}
.skills img:hover {
  transform: scale(1.5);
}

.project-container {
  background-color: #141320;
  color: white;
  font-family: "Unbounded", cursive;
}
.project-container > h2:first-child {
  font-size: 1.5rem;
  text-align: center;
}
.project-container .projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 7em 10em;
  gap: 2.5em;
}
.project-container .projects > .container:nth-child(4):hover .project__description {
  transform: translateY(10%);
}
.project-container .projects > * {
  overflow: hidden;
  position: relative;
}
.project-container .projects > *:hover .project__description {
  transform: translateY(0);
}
.project-container .projects > *:hover .project img {
  filter: brightness(20%);
}
.project-container .projects > * .project img {
  transition: filter 1.5s;
  border: 5px solid green;
  border-radius: 10px;
}
.project-container .projects > * .project__description {
  position: absolute;
  bottom: 0;
  min-height: 100%;
  transform: translateY(100%);
  transition: transform 1s;
  color: white;
  padding: 4em;
  display: grid;
  place-items: center;
}
.project-container .projects > * .project__description .wrapper {
  display: grid;
  row-gap: 0.5rem;
}

.tools__img {
  display: flex;
  gap: 1rem;
  aspect-ratio: 12/1;
}

.getInTouch {
  display: flex;
  justify-content: space-around;
  padding: 10em 10em;
  position: relative;
  z-index: 2;
  font-family: "Archivo Black", sans-serif;
}
.getInTouch::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../../assets/Backgrounds/low-poly-grid-haikei.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.3;
  z-index: -1;
}

.information {
  text-align: left;
}
.information div {
  display: grid;
  gap: 1em;
}
.information h2 {
  font-size: 2.5rem;
}
.information :last-child {
  max-width: 60ch;
}
.information p span {
  color: #7fb2da;
}

.forms {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem 1rem;
  text-align: left;
}
.forms :is(input, button) {
  padding: 1em 1em;
}
.forms > * {
  border-radius: 4px;
}
.forms input {
  border: none;
}
.forms input:focus {
  outline: none;
}
.forms textarea:focus {
  outline: none;
}
.forms :where(:first-child,
:nth-child(4),
:nth-child(5),
:nth-child(6),
:nth-child(7),
:nth-child(8)) {
  grid-column: 1/-1;
}

footer {
  padding: 3em;
  font-family: "Unbounded", cursive;
  display: grid;
  place-items: center;
  color: white;
}
footer .flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
footer .flex-container .logo-container a img {
  max-width: 12rem;
}
footer .flex-container .logo-container:hover a img {
  transition: transform 0.5s;
  transform: translateY(-0.5rem);
}
footer .flex-container .secondary-navigation {
  display: flex;
  gap: 1.5em;
}
footer .flex-container .socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
}
footer .flex-container .socials li a img {
  height: auto;
  width: 3rem;
}

.button {
  border-radius: 10px;
  padding: 1em 2em;
  cursor: pointer;
  border: 5px solid black;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  box-shadow: 10px 10px 19px 3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 19px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 19px 3px rgba(0, 0, 0, 0.75);
  transition: all 0.2s ease-in-out;
}
.button:is(:hover, :active) {
  background-color: #660000;
  color: white;
}

.visit--button {
  border-radius: 0.5rem;
  justify-self: center;
  padding: calc(1rem - 10px) 2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.visit--button:is(:hover, :active) {
  background-color: #660000;
  color: white;
}

.submit--button {
  transition: all 0.2s ease-in-out;
}
.submit--button:is(:hover, :active) {
  background-color: #660000;
  color: white;
}
